* {
  box-sizing: border-box;
  padding: 0px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;


}

.axisBlue line{
  stroke: #046cfc;
  font-weight: bold;
}
.axisBlue path{
  stroke: #046cfc;
  stroke-width: 2px;

}
.axisBlue text{
  fill: #046cfc;
 
}
.axisGrey line{
  stroke: #04c40c;
}
.axisGrey path{
  stroke: #04c40c;
  stroke-width: 2px;
}
.axisGrey text{
  fill: #04c40c;
}
h2{
  padding: 10px;
  font-size: medium;
}
body {
    background-color: rgb(31, 31, 31);
    color: #ffffff;
}
.header{
  background-color: rgb(0, 0, 0);
width: 100%;

}
.logo {
  background-color: rgb(0, 0, 0);
width: 25%;

}
.menu {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  text-align: center;
  width: 40%;
  background-color: slateblue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.menu a {
  background-color: #ff9a3c;
  display: block;
  width: 100%;
  color: white;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  

}
.menu a:hover {
  background-color: #ffc93c;
}

.main {
  float: center;
  background-color: rgb(31, 31, 31);
  padding: 5px;
  background-image: linear-gradient(black, rgb(31, 31, 31));
}
.main a{
  color: #046cfc;
}
.main a:hover {
  background-color: #046cfc;
  color: rgb(31, 31, 31);
}
#project1{
  height: 60vh;


 
}
div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 80px;					
  height: 62px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: black;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}
.footer {

  background-color: #ffc93c;
  color: black;
  padding: 5px;
  }
@media only screen and (max-width: 620px) {

  /* For mobile phones: */
  .logo,
  .menu,
  .main,
  .about {
    width: 100%;
  }

}
